/* Barre de progression */
.loader {
  background: rgba(127, 195, 101, 0.5);
  padding: 10px;
  border-radius: 3px;
  width: 10%;
  animation: loading 5s infinite linear;
}

@keyframes loading {
  0% {
    background: rgba(127, 195, 101, 0.5);
  }
  50% {
    background: rgba(38, 163, 0, 1);
  }
  100% {
    background: rgba(127, 195, 101, 0.5);
  }
}
